PORT=<server port>
BASE_URL=<this server base url (http://localhost:<PORT> for local development)>

DATABASE_URL=<database connection string>
DIRECT_URL=<database direct url connection string>
SHADOW_DATABASE_URL=<database shadow connection string (for development only)>

JWT_SECRET=<json web token secret key>
JWT_EXPIRES=<json web token expires in seconds or https://github.com/vercel/ms>

EMAIL_ADDRESS=<email address for smtp>
EMAIL_PASSWORD=<email password for smtp>