<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funne App | Reset Password</title>
    <style>
      body {
        font-family: sans-serif;
      }

      .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 32px 16px;
      }

      .form {
        display: flex;
        flex-direction: column;
      }

      .form__title {
        margin-bottom: 32px;
        font-size: 24px;
      }

      .form__field {
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
      }

      .form__label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        margin-left: 12px;
      }

      .form__input {
        padding: 12px 12px;
        border: 1px solid lightgray;
        border-radius: 8px;
        margin-bottom: 4px;
      }

      .form__helper {
        font-size: 12px;
        color: gray;
        margin-left: 12px;
      }

      .form__button {
        width: 100%;
        padding: 12px 32px;
        margin-top: 12px;
        font-size: 16px;
        cursor: pointer;
      }

      @media screen and (min-width: 520px) {
        .form__title {
          font-size: 32px;
        }
      }
    </style>
  </head>

  <body>
    <div class="container">
      <form class="form">
        <h1 class="form__title">Funne App | Reset Password</h1>
        <div class="form__field">
          <label for="password" class="form__label">New password</label>
          <input
            id="password"
            name="password"
            type="password"
            class="form__input"
          />
          <span class="form__helper">password minimal 8 characters</span>
        </div>

        <div class="form__field">
          <label for="retype_password" class="form__label"
            >Retype new password</label
          >
          <input
            id="retype_password"
            name="retype_password"
            type="password"
            class="form__input"
          />
        </div>

        <button type="submit" class="form__button">Change Password</button>
      </form>
    </div>
  </body>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');

    const passwordResetForm = document.querySelector('form');

    passwordResetForm.addEventListener('submit', async (e) => {
      e.preventDefault();

      const password = document.getElementById('password');
      const retypePassword = document.getElementById('retype_password');

      console.log({ password, retypePassword });

      if (!password.value || !retypePassword.value) {
        alert('Password cannot be empty');
        return;
      }

      if (password.value.length < 8) {
        alert('Password minimal 8 characters');
        return;
      }

      if (password.value !== retypePassword.value) {
        alert('Passwords do not match');
        return;
      }

      try {
        const response = await fetch('/api/v1/passwords', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            token,
            password: password.value,
          }),
        });

        const responseJson = await response.json();

        if (response.status !== 200) {
          alert(responseJson?.message);
          return;
        }

        alert('Password reset successful');

        password.value = '';
        retypePassword.value = '';
      } catch (error) {
        console.error(err);
        alert('An error occurred');
      }
    });
  </script>
</html>
